.RegistrationForm {
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    background: #939090;
    border: 10px solid #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.formText {
    color: #FFFFFF;
    font-family: 'Ink Free', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 25px;
}

.input {
    background: #DDD3D3;
	border-radius: 5px;
	margin-bottom: 15px;
	padding: 8px;
    color: #6C6969;
    border: none;
    width: 400px;
}

.registrationButton {
    background: rgba(255, 146, 0, 0.8);
    border-radius: 10px;
    color: white;
    border: none;
    width: 200px;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

@media screen and (max-width:768px) {
    .RegistrationForm {
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    .input {
        width: 276px;
    }
}