.footer {
    background: #939090;
    color: white;
	display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 40px;
    padding-right: 120px;
    /* border-top: 20px white solid; */
}

@media screen and (max-width: 1155px) {
    .footer {
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        justify-content: center;
    }
}
